<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verify email</title>
        <link href="../static/css/output.css" rel="stylesheet" type="text/css">

    </head>
    <!-- tells the user to await verification email -->
    <body class = "min-h-screen flex items-center justify-center bg-violet-100">
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
            <h2 class = "text-2x1 font-bold mb-6 text-center">Please await email verification</h2>
            <div class="block text-sm font-medium text-gray-700"> Please click on the link sent to you via email to verify your account. You may now close this page</div>
        </div>
    </body>   
</html>